.register-background {
  background-image: url("../img/wallhaven.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.register-background .filter-black::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3;
}

.register-card {
  background-color: #87c8a4;
  border-radius: 8px;
  color: #fff;
  /*max-width: 350px;*/
  margin: 20px 0 70px;
  /*min-height: 400px;*/
  padding: 30px;
}

.register-card label {
  margin-top: 15px;
}

.register-card .title {
  color: #3d614d;
  text-align: center;
}

.register-card .btn {
  margin-top: 30px;
}
